<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="yaskawa_common_ros2_control_macro" params="
               name
               prefix
               use_mock_hardware:=^|false
               sim_gazebo_classic:=^|false
               sim_gazebo:=^|false
               simulation_controllers
               description_package"
               >

    <ros2_control name="${name}" type="system">

      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:if value="${sim_gazebo_classic}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${sim_gazebo}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
      </hardware>
    
    <joint name="${prefix}joint_1_s">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_2_l">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
	  </joint>
      <joint name="${prefix}joint_3_u">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">0.61</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
	  </joint>
      <joint name="${prefix}joint_4_r">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_5_b">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_6_t">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
      </joint>

    </ros2_control>

    <xacro:if value="$(arg sim_gazebo_classic)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${simulation_controllers}</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_gazebo)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>${simulation_controllers}</parameters>
          <controller_manager_node_name>${prefix}controller_manager</controller_manager_node_name>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>
</robot>